<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.filmography.moviehunter"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permessi richiesti -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_mh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mh"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieHunter"
        tools:targetApi="31">

        <!-- Attività -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginPageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.OverviewPageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.FinalPageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.ShipmentPageActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.ContactsPageActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>
